.form-floating {
  position: relative;
  // padding-top: 4px;
  padding-bottom: 10px;
}

.form-control {
  min-height: fit-content;
  padding-bottom: 14px;
  // padding-top: 0.2rem;
  height: auto;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-floating>.form-control {
  font-size: 14px;
  padding-bottom: 0.5rem !important;
  // padding-top: 0.5rem !important
}

.form-control:focus {
  box-shadow: none;
}

.form-floating>label {
  padding-top: 0.7rem !important;
}

.form-floating label {
  position: absolute;
  // top: -7px;
  left: 0;
  pointer-events: none;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out, color 0.2s ease-out;
}

.form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 0.2rem !important;
  // padding-bottom: 0.5rem !important;
}

.form-control:focus~label,
.form-control:not(:placeholder-shown)~label {
  font-size: 0.65rem;
  transform: translateY(-1.2rem);
  z-index: 1001;
  color: #495057;
}

.form-floating>.form-control:focus {
  padding-top: 0.5rem !important;
}

.form-control.ng-select {
  border: none !important;
  padding: 0 !important;
}

::ng-deep {
  ng-select .ng-select-container {
    border-color: #ccc;
    box-shadow: none;
  }
  
  ng-select.is-invalid .ng-select-container {
    // border-color: #f4516c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px #fde6e8;
  }
  ng-select.is-valid .ng-select-container {
    // border-color: #0ab39c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px #e4faef;
  }
  }









// .form-floating {
//   position: relative;

//   .ng-select-container {
//     height: calc(3.5rem + 2px) !important;
//     line-height: 1.25;
//   }

//   label {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%; // allow textareas
//     padding: 1rem 0.75rem;
//     overflow: hidden;
//     text-align: start;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     pointer-events: none;
//     border: 1px solid transparent; // Required for aligning label's text with the input as it affects inner box model
//     transform-origin: 0 0;
//     transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
//   }

//   .ng-select-container {
//     padding-top: 1.625rem;
//     padding-bottom: .625rem;

//     .ng-input {
//       top: unset !important;
//     }
//   }

//   ng-select {
//     ~label {
//       opacity: 0.65;
//       transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
//       z-index: 1001;
//     }


//     &:focus .ng-select-container {
//       border-color: #86b7fe;
//       outline: 0;
//       box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
//     }

//     &.is-valid .ng-select-container {
//       border-color: #198754 !important;
//     }

//     &.is-valid.ng-select-focused .ng-select-container {
//       box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
//     }

//     &.is-invalid .ng-select-container {
//       border-color: #dc3545 !important;

//     }

//     &.is-invalid.ng-select-focused .ng-select-container {
//       box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
//     }
//   }
// }





// .form-floating {
//   position: relative;

// .ng-select-container {
//   height: calc(3.5rem + 2px) !important;
//   line-height: 1.25;
// }

// label {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%; // allow textareas
//   padding: 1rem 0.75rem;
//   overflow: hidden;
//   text-align: start;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   pointer-events: none;
//   border: 1px solid transparent; // Required for aligning label's text with the input as it affects inner box model
//   transform-origin: 0 0;
//   transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
// }

// .ng-select-container {
//   padding-top: 1.625rem;
//   padding-bottom: .625rem;

//   .ng-input {
//       top: unset !important;
//   }
// }

// ng-select {
//   ~label {
//       opacity: 0.65;
//       transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
//       z-index: 1001;
//   }


//   &:focus .ng-select-container {
//       border-color: #86b7fe;
//       outline: 0;
//       box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
//   }

//   &.is-valid .ng-select-container {
//       border-color: #198754 !important;
//   }

//   &.is-valid.ng-select-focused .ng-select-container {
//       box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
//   }

//   &.is-invalid .ng-select-container {
//       border-color: #dc3545 !important;

//   }

//   &.is-invalid.ng-select-focused .ng-select-container {
//       box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
//   }
// } }