<form [formGroup]="customForm" id="frm_edit_role" name="dynamicForm" #ngForm="ngForm" novalidate (ngSubmit)="onSubmitEvent()" autocomplete="off" class="mx-3">
    <div class="row">
        <div *ngFor="let field of fields | sort: 'order'"  [ngClass]="field.parentClass" [ngStyle]="field.parentStyle">
            <div *ngIf="field.externalLabel" class="form-label"><strong>{{ field.externalLabel ?? '' | translate}}</strong></div>
            <ng-container [ngSwitch]="field.fieldType" >
                <ng-container *ngSwitchCase="'input'" >
                    <input-field
                        [field]="field"
                        [hasErrors]="!!(customForm).get(field.name)?.errors"
                        [isSubmitted]="submitted"
                        [control]="$any(customForm).get(field.name)"
                        (clear)="clear(field)"
                        (valueChange)="valueChange(field, $event)">
                    </input-field>
                </ng-container>
                <ng-container *ngSwitchCase="'checkbox'">
                    <checkbox-field
                        [field]="field"
                        [control]="$any(customForm).get(field.name)"
                        (clear)="clear(field)"
                        (valueChange)="valueChange(field, $event)">
                    </checkbox-field>
                </ng-container>
                <ng-container *ngSwitchCase="'textarea'">
                    <textarea-field
                        [field]="field"
                        [hasErrors]="!!(customForm).get(field.name)?.errors"
                        [isSubmitted]="submitted"
                        [control]="$any(customForm).get(field.name)"
                        (clear)="clear(field)"
                        (valueChange)="valueChange(field, $event)">
                    </textarea-field>
                </ng-container>
                <ng-container *ngSwitchCase="'select'">
                    <select-field
                        [field]="field"
                        [hasErrors]="!!(customForm).get(field.name)?.errors"
                        [isSubmitted]="submitted"
                        [control]="$any(customForm).get(field.name)"
                        (clear)="clear(field)"
                        (valueChange)="valueChange(field, $event)">
                    </select-field>
                </ng-container>
                <ng-container *ngSwitchCase="'attachment'">
                    <attachment-field
                        [field]="field"
                        [isSubmitted]="submitted">
                    </attachment-field>
                </ng-container>
                <ng-container *ngDefault>
                </ng-container>
            </ng-container>
            
            <ng-container *ngTemplateOutlet="errorMessagesTemplate; context:{$implicit: field.name, fieldName: field.label}"></ng-container>
        </div>
    </div>
    <generic-buttons [buttons]="buttons" [submitting]="showSpinner"></generic-buttons>
</form>


<!-- Error Messages Template -->
<ng-template #errorMessagesTemplate let-fieldValue let-fieldName="fieldName">
    <div *ngIf="submitted && customFormControls[fieldValue]?.errors" class="invalid-feedback">
        <span class="d-flex"
            *ngFor="let errorMsg of utilsService._getErrorMessagesForControl(customFormControls[fieldValue])">
            <small [translate]="errorMsg" [translateParams]="{field: fieldName | translate}"></small>
        </span>
    </div>
</ng-template>