<app-breadcrumbs title="{{'MENUITEMS.AGOL.DASHBOARD.TEXT' | translate}}"
    [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row mb-2">
    <div ngbAccordion class="accordion-secondary">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                <button ngbAccordionButton>
                    <h4 class="card-title mb-0 flex-grow-1"> {{'GENERAL.FILTER.SEARCHFILTER' | translate}}</h4>
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>                    
                    <ng-template>
                        <dynamic-form [fields]="fields" [customForm]="filterForm" (submitEvent)="getDataItems()"
                        [showSpinner]="showSpinner" [buttons]="buttons" >
                    </dynamic-form>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

</div>

<grid #grid [columns]="filteredColumns" [dataItems]="dataList" [showSpinner]="showSpinner" [totalRecords]="dataList?.length"
    [importEnabled]="true" [itemsPerPage]="itemsPerPage" [creationLink]="'/agol/order/create'"
    (reloadData)="getDataItems($event)" [statusClass]="getBadgeClass" (deleteDataEvent)="deleteData($event)">
</grid>