<div class="p-grid">
    <div class="p-col-12">
        <div class="time-line p-mb-3">
            <ng-container *ngFor="let status of orderStatuses; last as isLast">
                <div class="circle"
                    [ngClass]="
                    {'green-status' : checkIfStatusIsDone(status.sequence ?? 0), 
                    'amber-status': status.sequence == actualStatus.sequence}">
                    <div 
                        class="tick">
                        <i [ngClass]="status.icon"></i>
                    </div>
                    <div class="label">
                        {{status.text}}
                    </div>
                </div>
                <div *ngIf="!isLast" [ngClass]="checkIfStatusIsDone(status.sequence ?? 0) ? 'line' : 'blank-space'"></div>
            </ng-container>
            <!-- <span class="p-ml-5 p-pl-5 p-mb-5 p-pb-5"><strong>ETA: {{ moment(eta).format('DD/MM/YYYY') }} </strong></span> -->
        </div>
    </div>
</div>