<div class="p-grid">
    <div class="p-col-12">
        <div class="time-line p-mb-3">
            <ng-container *ngFor="let orderTracking of orderTrackingTimelineHistories; last as isLast">
                <div class="circle"
                    [ngClass]="
                    {'green-status' : orderTracking.orderTrackingTimelineStatus === timelineStatus.Complete, 
                    'amber-status': orderTracking.orderTrackingTimelineStatus === timelineStatus.Current}">
                    <div *ngIf="orderTracking.orderTrackingTimelineStatus !== timelineStatus.Future"
                        class="tick">
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="label">
                        {{orderTracking.timelineLabel}}
                    </div>
                </div>
                <div *ngIf="!isLast" [ngClass]="orderTracking.orderTrackingTimelineStatus != timelineStatus.Future
                && orderTracking.orderTrackingTimelineStatus != timelineStatus.Current  ? 'line' : 'blank-space'"></div>
            </ng-container>
            <!-- <span class="p-ml-5 p-pl-5 p-mb-5 p-pb-5"><strong>ETA: {{ moment(eta).format('DD/MM/YYYY') }} </strong></span> -->
        </div>
    </div>
</div>