<app-breadcrumbs title="{{'MENUITEMS.AGOL.DASHBOARD.TEXT' | translate}}"
    [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="position-relative m-4">
  

    <order-tracking-timeline *ngIf="orderTrackingHistoryDatas" [orderTrackingTimelineHistories]="orderTrackingHistoryDatas || []"
        [remainingDaysToEta]="15">
    </order-tracking-timeline>
</div>

<div class="row mt-5">
    <dynamic-form [fields]="fields" [customForm]="ordersForm" (submitEvent)="onSubmit()" [showSpinner]="showSpinner"
        [buttons]="buttons" [submitted]="submitted">
    </dynamic-form>
</div>