::ng-deep {
    .start-20 {
        left: 20% !important;
    }
    .start-40 {
        left: 40% !important;
    }
    .start-60 {
        left: 60% !important;
    }
    .start-80 {
        left: 80% !important;
    }
    .start-25 {
        left: 25% !important;
    }

    .start-75 {
        left: 75% !important;
    }
}