<app-breadcrumbs title="{{'MENUITEMS.AGOL.DASHBOARD.TEXT' | translate}}"
    [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="position-relative m-4">
  

    <order-tracking-timeline *ngIf="statusDropdown && this.orderForm.get('orderStatusId')?.value" [orderStatuses]="statusDropdown || []" [actualStatusId]="this.orderForm.get('orderStatusId')?.value"
        [remainingDaysToEta]="15">
    </order-tracking-timeline>
</div>

<div class="row my-5">
    <dynamic-form [fields]="fields" [customForm]="orderForm" (submitEvent)="onSubmit()" [showSpinner]="showSpinner"
        [buttons]="buttons" [submitted]="submitted">
    </dynamic-form>
</div>